{% extends "base.html" %}

{% block title %}{{ board.title }}{% endblock %}

{% block content %}
<div class="limit-width">
    <div class="kanban-view-header">
        <h1>{{ board.title }}</h1>
        <form method="post", action="{% url 'boards:create_sprint' board.id %}">
        {% csrf_token %}
          <input type="text" name="title" placeholder="Sprint name" required>
          <button type="submit" class="button green">Add sprint</button>
        </form>
    </div>
    <p class="kanban-board-desc">{{ board.description }}</p>
    <!-- Sprints -->
    <section>
      <h2>Sprints</h2>
      {% if sprints %}
      <ul>
        {% for sprint in sprints %}
        <li>
          <a href="{% url 'boards:sprint_detail' board.id sprint.id %}">
            {{ sprint.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
      {% else %}
        <p>No sprints yet.</p>
      {% endif %}
    </section>
    <a class="button" href="{% url 'boards:dashboard' %}">Back to All Boards</a>
</div>
{% endblock %}
